Kekik
curl_cffi
fastapi
uvicorn
uvloop; platform_system != "Windows"
httptools
gunicorn
websockets
user_agents
PyYAML
Jinja2
python-multipart
python-dotenv
pymongo
PyJWT
fastapi-csrf-protect
csscompressor
rjsmin
KekikStream>=1.7.4
yt-dlp
