{#- Bu araç @keyiflerolsun tarafından | @KekikAkademi için yazılmıştır. -#}

{#- Breadcrumbs Component -#}
<nav class="breadcrumbs">
    <div class="breadcrumbs-item">
        <span class="breadcrumbs-current"><i class="fas fa-home"></i> Ana Sayfa</span>
    </div>
</nav>
