{#- Bu araç @keyiflerolsun tarafından | @KekikAkademi için yazılmıştır. -#}

{#- Footer Component -#}
<footer class="footer">
    <div class="container">
        <p>© 2025</p>
        <p>
            <a href="https://github.com/keyiflerolsun/KekikStreamAPI" target="_blank">Kaynak Kodu</a> | 
            <a href="https://t.me/KekikAkademi" target="_blank">KekikAkademi</a>
        </p>

        <div class="social-links">
            <a href="https://github.com/keyiflerolsun" target="_blank" class="social-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/keyiflerolsun" target="_blank" class="social-link">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://t.me/keyiflerolsunDev" target="_blank" class="social-link">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="https://wa.me/908503093493" target="_blank" class="social-link">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://buymeacoffee.com/keyiflerolsun" target="_blank" class="social-link">
                <i class="fas fa-coffee"></i>
            </a>
        </div>
    </div>
</footer>
