{#- Bu araç @keyiflerolsun tarafından | @KekikAkademi için yazılmıştır. -#}

{#- Header Component -#}
<header class="header">
    <div class="container">
        <a href="/" class="logo">KekikStream</a>
        <p>Açık Kaynak Kodlu İçerik Ayıklayıcı</p>
    </div>
</header>
